/*font*/
.mukta-extralight {
  font-family: "Mukta", serif;
  font-weight: 200;
  font-style: normal;
}

.mukta-light {
  font-family: "Mukta", serif;
  font-weight: 300;
  font-style: normal;
}

.mukta-regular {
  font-family: "Mukta", serif;
  font-weight: 400;
  font-style: normal;
}

.mukta-medium {
  font-family: "Mukta", serif;
  font-weight: 500;
  font-style: normal;
}

.mukta-semibold {
  font-family: "Mukta", serif;
  font-weight: 600;
  font-style: normal;
}

.mukta-bold {
  font-family: "Mukta", serif;
  font-weight: 700;
  font-style: normal;
}

.mukta-extrabold {
  font-family: "Mukta", serif;
  font-weight: 800;
  font-style: normal;
}



body {
    font-weight: 300;
    margin: 0;
    font-size: 16px;
    background-color:#eae0d5;
}




/* header stuff here */
header {
    padding: 1.5rem;
    background-color: #f8f9fa;
    top: 0;
    position: sticky;
    z-index:80083;
}
header h1 {
    margin: 0;
    color: #5d3a2a;
    font-size: 2.5rem;
}
h3{
    margin-top: .5rem;
    margin-bottom:0;
    color:#22333b;
}
h3.cat{
    font-weight: 600;
    color: #b64e11;
}
header p {
    margin: 0;
    color: #b64e11;
    font-size: 1.22rem;
}
p{
    margin-top:0;
    font-size: 1.1rem;
}
/* navigation stuff here */
nav {
    background-color: #5d3a2a;
    position:fixed;
    width: 100%;
    top: 6rem;
    z-index:80084;
}
nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    transition: background-color 0.7s ease;

}


nav .active a {
    background-color: #b64e11;
    color: #ffffff;
}
nav a:hover {
    background-color: #d24d21;
}


/* main stuff here */
main {
    padding: 1rem 1vw;
}

main h1 {
    color: #22333b;
    font-size: 2.5rem;
    margin: .5rem 0 .8rem 0;
}
main h2 {
    color: #5d3a2a;
    margin-bottom: .2rem;
}
main p {
    color: #2f3133;
    margin: 0 0 .8rem 0;
    line-height: 150%;
}

main ol {
    background-color: #eaeaea;
}

main dl dt {
    color:black;
    font-weight: 600;
    margin: .3rem;
    
}
main dl dd {
    font-size: 1rem;
    margin-bottom: .7rem;
    margin-left:1rem;
}

main strong {
    color: #5d3a2a;
}

main a {
    color: #e25d31;
}
main a:hover {
    color:#024873;
}
    
/*footer always at bottom*/
html, body {
    height: 100%; /* Ensure the body takes up the full height */
}

body {
    display: flex;
    flex-direction: column; /* Arrange children vertically */
}

main {
    flex: 1; /* This allows the main section to grow and fill available space */
}
/* footer stuff here */
footer {
    border-top: solid #ccc 2px;
    margin-bottom: 0;
    color: #b64e11;
    font-size: .7rem;
    padding: 1rem 0 0 50vw;
    background-color: #f8f9fa;
}
